.feedback-cards .card{
    background-color: white;
    width:40%;
}

.feedback-haeder{
    color: #E86924;
}

.entre-project-profile-button{
    color: #E86924;
    transition-duration:1s ;
}

.entre-project-profile-button:hover{
    color: white;
    background-color: #E86924;
}