.chatbox-header p{
     font-size: 100px;
     color: #004466;
}

.chat-message{
    width: 70%;
    height: 10vh;
    margin-top: 200px;
    border-color: rgb(141, 138, 138);
}

.chat-message button {
    background-color: #004466;
    color: white;
}

.chat-message p{
    color: #004466;
}

.main-chatbox{
    background-color: #F4ECFD;
}