.Toastify__toast-container {
  font-size: 16px;
}

.Toastify__toast--success {
  background-color: #d4edda;
  color: #155724;
}

.Toastify__toast--error {
  background-color: #fafafa;
  color: #d3172a;
}

.Toastify__toast {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
