
.entre-message-icon{
    background-color: #E86924;
    color: white;
    border-radius: 30px ;
  } 
    
  .entre-profile-body h4, span{
   color: #E86924;
  }
  
  .entre-invest-btn{
    background-color: #E86924;
    color: white;
  }
  
  .about-section{
    background-color:#F6F6F6;
  }
 
  .about-section h5 {
    color: #E86924;
  }
  
   
    